<h1>Languages - Edit</h1>
<form action="/admin/languageTool/content/edit/{{languageToolContent.id}}?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" value="{{languageToolContent.title}}" >
    </div>
    <div class="form-group">
        <label for="geoBody">Geos</label>
        <input name="geoBody" type="text" class="form-control" id="geoBody" value="{{languageToolContent.geoBody}}" >
    </div>
    <div class="form-check">
        <label for="exceptionLanguage" class="form-check-label">
        <input name="exceptionLanguage" type="checkbox" {{#if languageToolContent.exceptionLanguage}} checked="checked" {{/if}} class="form-check-input" id="exceptionLanguage">
            Exception Language
        </label>
    </div>
    <div class="form-group">
        <label for="profilesBody">Profile Language</label>
        <input name="profilesBody" type="text" class="form-control" id="profilesBody" value="{{languageToolContent.profilesBody}}" >
    </div>
    <div class="form-group">
        <label for="adsBody">Ads Language</label>
        <input name="adsBody" type="text" class="form-control" id="adsBody" value="{{languageToolContent.adsBody}}" >
    </div>

    <button type="submit" class="btn btn-primary">Edit Content</button>
    
</form>