<h1>Languages - Edit/Delete</h1>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Id</th>
            <th>Language</th>
            <th>Exception Language</th>
            <th>Geos</th>
            <th>Profile Language</th>
            <th>Ads Language</th>
        </tr>
    </thead>
    <tbody>
        {{#each languageToolContent}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{exceptionLanguage}}</td>
            <td>{{geoBody}}</td>
            <td>{{profilesBody}}</td>
            <td>{{adsBody}}</td>
            <td><a href="/admin/languageTool/content/edit/{{_id}}" class="btn btn-info">Edit</a></td>
            <td>

                <form action="/admin/languageTool/content/{{id}}?_method=DELETE" method="post">
                
                    <button type="submit" class="btn btn-danger">DELETE</button>

                </form>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>